{% extends 'marketplace/base.html' %}
{% load static %}

{% block title %}Contact Us - Uniflip{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'marketplace/css/contact_us.css' %}">
{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out to us!</p>

    <form method="POST">
        {% csrf_token %}
        
        <label for="id_name">Your Name:</label>
        {{ form.name }}

        <label for="id_email">Your Email:</label>
        {{ form.email }}

        <label for="id_message">Message:</label>
        {{ form.message }}

        <button type="submit">Send Message</button>
    </form>
</div>
{% endblock %}
