{% extends 'marketplace/base.html' %}
{% load static %}

{% block title %}Login - Uniflip{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'marketplace/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Login</h1>
    <p>Welcome back! Please login to your account.</p>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="submit-btn">Login</button>
    </form>
</div>
{% endblock %}
